<div class="card border-dark mb-3">
<div class="card">
  <div class="card-body" style="background-color: #CCFFCC;">
	<li id="adpost-<%= adpost.id %>">
	  <div class="container">
      <div class="row">
	    <div class="col-md"><%=image_tag adpost.adpost_image.url(:medium) %></div>
	    <div class="col-md">
	      <p><%= adpost.name %></p>
	      <p><%= adpost.description %></p>
	    </div>
	  </div>
      </div>
	</li>
  </div>
</div>
</div>