<li id="adpost-<%= adpost.id %>">
   <span class="name"><%= adpost.name %></span>
   <span class="description"><%= adpost.description %></span>
   <span class="adpost_image"><%= adpost.adpost_image %></span>
</li>