<nav class="navbar navbar-expand-lg justify-content-between" style="background-color: #e3f2fd;">
  <a class="navbar-brand" href="#">
    <%= image_tag("mazda-logo-mobile2x.png")%>
  </a>
  <% if current_user %>
    <div class="dropdown">
      <label for="dropdown">Link to logout:</label>
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      </a>
      
      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
        <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: 'dropdown-item' %>
      </div>
    </div>
  <% end %>
</nav>