/* adposts */

.adposts {
  list-style: none;
  padding: 10;

  .name {
    float: right;
    margin-top: 5em;
    padding-top: 0;
  }

  .description {
    display: block;
    margin-top: 5em;
    padding-top: 0;
    
  }
 
}

